:root {
    --main-yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
}

.background {
    background-color: var(--main-yellow);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 327px;
    height: 501px;
    background-color: white;
    border: 1px solid;
    border-color: var(--gray-950);
    border-radius: 20px;
    box-shadow: 10px 10px  0 var(--gray-950);
    margin: auto;
    padding: 24px;
}

.header-img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 24px;
}

@font-face {
    font-family: 'Figtree Extra Bold';
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf');
}

@font-face {
    font-family: 'Figtree Medium';
    src: url('./assets/fonts/static/Figtree-Medium.ttf');
}

.tag {
    font-family: Figtree Extra Bold;
    width: fit-content;
    background-color: var(--main-yellow);
    font-size: 14px;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 12px;
}


.date {
    font-family: Figtree Medium;
    font-size: 12px;
    font-weight: lighter;
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-950);
}

.title {
    font-family: Figtree Extra Bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-950);
    margin-bottom: 12px;
}

.description {
    font-family: Figtree Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-500);
}

.author {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.pfp {
    width: 32px;
    height: 32px;
}

.name {
    font-family: Figtree Extra Bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-950);
    margin-left: 10px;
}

@media  (max-width: 375px) {
    .card {
        width: 300px;
    }
}

